* {
    margin: 0;
    padding: 0;
    font-size: 1em;
}

body {
    font-size: 1em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: #e6e6e6;
}

/* ***Layout*** */
#area-cabecalho {
    background-color: #f7b600;
    padding: 15px;
    text-align: center;
}

#area-logo,
#area-menu {
    padding: 10px;
}

/* ***Area principal*** */
#area-principal {
    width: 940px;
    margin: 0 auto;
    padding: 15px;
}

#area-lateral {
    background: white;
    padding: 10px;
    margin-bottom: 20px;
}

#area-postagens {
    width: 660px;
    float: left;
}

#area-lateral {
    width: 240px;
    height: 593px;
    float: right;
    margin-left: 4px;
}

.postagem {
    padding: 20px;
    margin-bottom: 20px;
    background: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;;
}

.postagem-lateral{
    font-size: 1em;
    padding: 5px;
    border-bottom: 1px solid #ccc;
}

#rodape {
    clear: both;
    text-align: center;
    padding: 15px;
    background: #ccc;
}

/* ***formatção do menu*** */
#area-cabecalho a {
    text-decoration: none;
    font-size: 1.3em;
}

#area-cabecalho a:link, #area-cabecalho a:visited {
    color: white;
    padding: 10px;
}

#area-cabecalho a:hover {
    color: #f7b600;
    background: white;
    text-decoration: none;
}

/* ***Formatação geral*** */
h1 {
    color: #4e4e4e;
    font-size: 4.3em;
}

h2 {
    font-size: 1.3em;
    color: #f7b600;
    font-family: sans-serif;
}

h3 {
    font-size: 1.2em;
    color: #565656;
    background: #ccc;
    padding: 10px;
    font-family: sans-serif;
}

/* ***Formatação de link*** */
a {
    text-decoration: none;
    font-size: 1em;
}

a:link, a:visited {
    color: #f7b600;
}

a:hover {
    text-decoration: underline;
}

.branco {
    color: white;
}

.data-postagem {
    font-size: 0.9em;
    border-bottom: 1px solid #f4f4f4;
    padding-bottom: 10px;
    margin-bottom: 10px;
    display: block;
}

